@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  font-family: Inter;
  font-size: 16px;
  color: #fff;
  line-height: 1.5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
a {
  text-decoration: none;
  color: #fff;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* commont css */
.btn {
  padding: 12px 16px;
  color: #fff;
  border-radius: 10px;
  border: 0;
  background-color: transparent;
  font-weight: 600;
}

.humbergur_icon {
  display: none;
}

.middle_text {
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

/* Header Section */

.header_top_Section {
  background-color: #1a0b2e;
  padding: 16px 0;
}

.section {
  width: 100%;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.manu {
  display: flex;
  align-items: center;
}
.manu_item {
  display: inline-block;
  margin-right: 25px;
}
.manu_item > a {
  display: block;
  margin-right: 15px;
}

.Spotify,
.Subscribe_btn {
  background: linear-gradient(to right top, #f8c651 0%, #b303e2 100%);
  transition: all 3s ease-in;
}
.Subscribe_btn:hover.Subscribe_btn i {
  padding-left: 5px;
}
.Subscribe_btn:hover {
  background: linear-gradient(to left top, #f8c651 0%, #b303e2 100%);
}
/* hero section */

.hero {
  background-image: url(./assets/hero-bg.png);
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.hero_center {
  padding: 101px 0;
}
.MicroPhone_box {
  background-image: url(./assets/hero-circle.png);
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
  width: 350px;
  height: 350px;
  position: relative;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
.MicroPhone_box i {
  font-size: 200px;
}
.new_btn {
  position: absolute;
  top: 20px;
  right: 30px;
  background-color: #00ff88;
  padding: 8px 12px;
  color: #000;
  border-radius: 30px;
}
.tech_header {
  font-size: 60px;
}
.Subscribe {
  color: #00ff88;
  border: 1px solid;
  margin-left: 15px;
  background-color: transparent;
}
.hero_center_p {
  margin: 24px 0;
}
.same_title {
  font-size: 48px;
  font-weight: 700;
}
/* .podcast section */
.podcast_p50_120 {
  padding-top: 50px;
  padding-bottom: 120px;
  background-color: #1a0b2e;
}
.podcast {
  max-width: 800px;
  margin: auto;
  line-height: 1.8;
  padding-bottom: 80px;
}
.podcast_item i {
  font-size: 35px;
}
.mt-30 {
  margin-top: 30px;
}
.podcast_group {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-around;
  align-items: center;
  column-gap: 50px;
  padding-top: 80px;
  border-top: 1px solid #555456;
}
.podcast_item h1 {
  font-size: 48px;
  font-weight: 700;
  color: #00ff88;
  margin-bottom: 16px;
}
.podcast_item p {
  text-transform: uppercase;
}
/* Choose section */

.Choose_group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 40px;
  text-align: left;
}
.Choose_item {
  padding: 40px;
  border-radius: 40px;
  line-height: 1.8;
  background-color: #2a0f4d;
}
.Choose_item h2 {
  font-size: 24px;
  font-weight: 700;
}
.Choose {
  background-color: #230e3d;
}
.pt-40 {
  padding-top: 80px;
}
.one {
  grid-row: 1/ 3;
}
.two {
  grid-column: 2 /4;
}

.three {
  grid-column: 2 /4;
}
.four {
  grid-column: -4 /-2;
}

/* feature section */
.feature {
  background-color: #1a0b2e;
}
.feature_group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  gap: 0 20px;
  margin-top: 40px;
}
.feature_relative {
  background-image: url(./assets/Rectangle-1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 214px;
  position: relative;
}
.feature_ab {
  position: absolute;
  top: 72px;
  left: 170px;
}
.feature_item_des {
  padding: 24px;
  background-color: #250d44;
  text-align: left;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.feature_item_des h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 12px;
}
.feature_item_des span {
  color: #00ff88;
  margin-top: 12px;
  display: block;
}

.profile {
  margin: 120px 0;
}
.profile_row {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 40px;
  background-color: #250e44;
  padding: 40px;
  border-radius: 40px;
}
.profile_col {
  margin-left: 25px;
  text-align: left;
}
.profile_col h3 {
  font-size: 32px;
  font-weight: 700;
}
.m_16 {
  margin: 16px 0;
}
.icon_pro {
  padding: 10px;
  height: 40px;
  width: 40px;
  border-radius: 100px;
  margin-right: 10px;
  border: 1px solid #555456;
}

.footer {
  background-image: url(./assets/footer-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  padding: 120px 0;
}
.footer_item a {
  display: inline-block;
  margin-right: 20px;
}
.footer_item_list {
  margin: 30px 0;
}
